bin/
obj/
/packages/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.nugetpat

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
riderModule.iml
/_ReSharper.Caches/
.idea/**/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Tt]arget/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# NCrunch
*.ncrunch*.user
_NCrunch_*
*.crunch.xml
nCrunchTemp_*
*.v3.ncrunchsolution
*.v3.ncrunchsolution.*
*.v3.ncrunchproject.idea
